@model EMS.Lib.Models.CarModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <form asp-action="AddCar">
        <input type="text" placeholder="Name" asp-for="Name"/>
        <input type="text" placeholder="Plate" asp-for="Plate"/>
        <button type="submit">Save</button>
    </form>
</div>
