@model EMS.Lib.Models.PatientModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <form asp-action="AddPatient">
        <input type="text" placeholder="Name" asp-for="Name"/>
        <input type="text" placeholder="Surname" asp-for="Surname"/>
        <input type="Date" asp-for="Birthday"/>
        <select asp-items="@(Html.GetEnumSelectList<EMS.Lib.Enums.Sex>())" asp-for="Sex"></select>
        <input type="text" placeholder="Phone number" asp-for="PhoneNumber"/>
        <input type="text" placeholder="Street" asp-for="Street"/>
        <input type="text" placeholder="Postal" asp-for="Postal"/>
        <button type="submit">Save</button>
    </form>
</div>
