@model EMS.Lib.Models.CarModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="d-flex align-items-center flex-column">
        <form asp-action="EditCar" class="d-flex justify-content-center flex-column align-items-center" style="width: 300px">
            @Html.HiddenFor(x=>x.CarId)
            <input class="inputik" type="text" value="@Model.Name" asp-for="Name"/>
            <input class="inputik" type="text" value="@Model.Plate" asp-for="Plate"/>
            <button type="submit" style="border: none; color: white; text-align: center; display: inline-block; border-radius: 10px; font-size: 20px; background-color: #08b9f4; padding: 7px 30px; font-weight: bold">Save</button>
        </form>
    </div>
</div>


<style>
    .inputik {
        border: none;
        border-bottom: 3px solid #08b9f4;
        font-weight: 700;
        margin-bottom: 10%;
        font-size: 18px;
    }
    
    .selectik {
        margin-bottom: 15%; 
        width: 250px;
        background: white;
        border: none;
        border-bottom: 3px solid #08b9f4;
        font-weight: 700;
        font-size: 18px;
    }
</style>
