@model IEnumerable<EMS.Lib.Models.HospitalModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <div class="d-flex justify-content-center">
       <a href="/Home/AddPatient" style="margin-right: 1%; text-decoration: none; font-size: 22px; color: #08b9f4; font-weight: bold">New</a>
        <a href="#" id="printButton" style="margin-left: 1%; text-decoration: none; font-size: 22px; color: darkgrey; font-weight: bold">Print</a> 
    </div>
    <table>
        <tr>
            <th>Hospital ID</th>
            <th>Name</th>
            <th>Street</th>
            <th>Postal</th>
        </tr>
        @foreach (var hospital in Model)
        {
            <tr>
                <td>@hospital.HospitalId</td>
                <td>@hospital.Name</td>
                <td>@hospital.Street</td>
                <td>@hospital.Postal</td>
                <td>
                    <form asp-action="DeleteHospital"><a href="/Home/DeleteHospital?hospitalId=@hospital.HospitalId" style="text-decoration: none; color: #ff0050;">Delete</a></form></td>
                <td>
                    <form asp-action="EditHospital"><a href="/home/EditHospital?id=@hospital.HospitalId" style="text-decoration: none; color: #08b9f4">Edit</a></form></td>
            </tr>
        }
    </table>
</div>


<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<script>
    document.getElementById('printButton').addEventListener('click', function () {
        window.print();
    });
</script>
